.idea/
game_node/target
game_node/.idea
game_node/.vscode
game_node/Cargo.lock
*/target/
*/Cargo.lock
.gitnexus
.claude
*.exe*
*/nul
debug.json
*.bkp
*.dtmp
.vscode
*/.gocache
/.gocache
/.gomodcache
/platform-web/node_modules
/platform-web/dist
.crate-cache
vendor
.cargo
.go-cache
*.log